@import '~antd/dist/antd.css';

.layout {

}

.company-name {
  color: rgba(255 , 255, 255, 0.9);
}

.wrapper {
  border: 1px solid #ebedf0;
  padding: 2rem;
  color: rgba(0,0,0,.65);
  background-color: white;
  max-width: 80rem;
  margin: 0pt auto;
}

.actions {
  margin-bottom: 1rem; 
}
